* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: dodgerblue;
    margin: 0 auto;
    padding: 3% 16%;
}

.main-part {
    width: 100%;
    height: 100%;
    background: lightgrey;
    padding: 20px;
    margin-top: 5%;
}

.login-form, .register-form, .edit-user-form, .edit-truck-form {
    width: 500px;
    margin: 100px auto;
    padding: 10px;
}

.login-button {
    width: 67%;
    margin-left: 33%;
}

.register-button {
    width: 58%;
    margin-left: 42%;
}

.edit-button {
    width: 58%;
    margin-left: 42%;
}

.login-button, .register-button, .edit-button {
    color: white;
}

.main-part, .login-button, .register-button, .edit-button {
    font-size: 18px;
}

.main-part, .login-form, .register-form, .edit-user-form {
    border: 2px solid black;
}

.main-part, .login-form, .register-form, .edit-user-form {
    border-radius: 10px;
}

*, .input, .login, .register, .details, .login-button, .register-button, .edit-button {
    font-weight: 600;
}

.register-link {
    margin-left: 5px;
}